%li.chat-group
  = link_to group_chats_path(group.id),class: "chat-group__link" do
    %p.chat-group__name
      = group.group_name
  - if group.posts.last.present?
    %p.chat-group__message
      = group.posts.last.message
