%li.chat-message{ id: "js-post" }
  .chat-message__header.clearfix
    %p.chat-message__name
      = post.user.nickname
    %p.chat-message__time 
      = post.created_at.strftime("%Y/ %m/ %d %T")
  %p.chat-message__body 
    = post.message
    %p.chat-message__photo
      = image_tag post.text_image,class: "text_image"
