.layout-notification
  .chat
    .chat-side
      .chat-user.clearfix
        %h5 aaaaaa
        .chat-user__actions
          %a.chat-user__action{:href => "/chat_groups/new"}
            %i.fa.fa-pencil-square-o
          %a.chat-user__action{:href => "/users/edit"}
            %i.fa.fa-cog
      %ul.chat-groups
        %li.chat-group
          %a.chat-group__link{:href => "/chat_groups/952/messages"}
            %p.chat-group__name group
            %p.chat-group__message
              画像を送信しました。
    .chat-main
      .chat-header.clearfix
        .chat-header--left
          %h2 group
          %p.chat-header__users
            Members:
            %span.chat-header__user aaaaaa
            %span.chat-header__user 山田太郎
        .chat-header--right
          %a.chat-header__edit-btn{:href => "/chat_groups/952/edit"} Edit
      .chat-body
        %ul.chat-messages
          %li.chat-message
            .chat-message__header.clearfix
              %p.chat-message__name aaaaaa
              %p.chat-message__time 2016/10/22 05:25:02
            %p.chat-message__body aaaaaaaaa
      .chat-footer
        = form_for @posts,url: chats_path do |f|
          .new_message
            .chat-footer__body
              =f.text_area :message, id:"message_body", placeholder: "type a message", row: "1"
              %label.chat-footer__file
                = f.file_field :text_image, class: "message_image"
                %i.fa.fa-image
              = f.submit "SEND",class: "submit-factor"
